player-connection-mode=Listen
player-connection-guid=2649127664
player-connection-debug=0
player-connection-project-name=game top down
player-connection-ip=192.168.0.120
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
build-guid=ebe1ecd0b2f94c918e374460858de734
